<div id ="box">
<%@game.teams.each do |team|%>
  <h1><%=team.name%> <br>points: <%=@game.team_games.find_by_team_id(team.id).score%></h1>
        <%team.players.each do |player| %>
        <h2><%= link_to player.name, player_path(player)%></h2>
        <%end%>
<%end%>        
</div>
