<h1><%= @player.name.capitalize %></h1>
<h3>Games</h3>
<% @player.teams.each do |team| %>
  <% team.games.each do |game| %> 
         <%= link_to game.match_time, game_path(game)%> <br>
  <% end %>
<% end %>

<%= month_calendar do |date| %> 
 <%= date %> 
<% end %> 