<h1><%= @player.name.capitalize %></h1>
<h3>Games</h3>
<% @player.team_players.each do |teamplayer| %>
  <% Team.find(teamplayer.team_id).games.each do |game| %>
    
    <%= link_to game.match_time, game_path(game)%> <br>
  <% end %>
<% end %>